@model DomainModelling.Models.ListStops

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")

<script type="text/javascript">
    var map;
    var array = new Array();

    function createMap(mapContainer) {
        var mapOptions = {
            zoom: 13,
            center: new google.maps.LatLng(40.680051, -73.583913),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        return new google.maps.Map(mapContainer, mapOptions);
    }
    function plotMarker(latitude, longitude, name) {
        //var image = {
        //    url: "images/marker.png",
        //    origin: new google.maps.Point(0, 0),
        //    anchor: new google.maps.Point(5, 5)
        //};

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(latitude, longitude),
            map: map,
            title: name
            //url: source.name,
            // icon: image
        });
    }

    $(document).ready(function () {
        map = createMap(document.getElementById('map_pilihlokasi'));
         @foreach (var stop in Model.stopList)
    {
       string message ="";
        message += "array[0]=" + stop.stop_lat + ";";
        message += "array[1]=" + stop.stop_lon + ";";
        message += "array[2]=\"" + stop.stop_name + "\";";
         @MvcHtmlString.Create(message);
        
        <text>
        plotMarker(array[0], array[1], array[2]);
        </text>
    }
    });


   
</script>
<article>
 <div id="map_pilihlokasi" style="height: 600px; width: 100%"></div>
</article>

<aside>
    <h3>Aside Title</h3>
    
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>