@model DomainModelling.Models.StopTime

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>StopTime</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trip_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trip_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arrival_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arrival_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departure_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departure_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stop_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stop_sequence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_sequence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stop_headsign)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_headsign)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pickup_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pickup_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.drop_off_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.drop_off_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shape_dist_traveled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shape_dist_traveled)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
